<!-- SECCIÓN - Formulario de Contacto-->
<div class="container-fluid bg-white p-0 mb-5" id="contact">

    <!-- Línea separadora -->
    <div class="border-top my-5"></div>

    <!-- Sección Formulario de contacto -->
    <div class="row justify-content-center">
        <!-- Contenido con padding -->
        <div class="col-12 col-md-9">
            <!-- Título del formulario -->
            <h1 class="bg-light text-dark text-start py-4">Contact</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- Descripción del formulario con padding -->
        <div class="col-12 col-md-9">
            <p class="fs-4 fw-light text-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus quia maiores voluptatem
                officia unde. Eos nam sunt deleniti, id earum itaque voluptatem repudiandae hic, nulla quae inventore eligendi? Fugiat,
                perspiciatis.</p>
        </div>
    </div>

    <!-- Formulario que ocupa el 70% del ancho -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-7">
            <form action="/send" method="post">
                <div class="bg-secondary bg-opacity-10 p-4">
                    <div class="row mb-3 align-items-center">
                        <div class="col-3 text-end">
                            <label for="user_email" class="form-label fw-bold fs-6">Email address</label>
                        </div>
                        <div class="col-9">
                            <input type="email" class="form-control" id="user_email" placeholder="Your email">
                        </div>
                    </div>
                    <div class="row mb-3 align-items-top">
                        <div class="col-3 text-end">
                            <label for="exampleFormControlTextarea1" class="form-label fw-bold">Your Message</label>
                        </div>
                        <div class="col-9">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                placeholder="Please enter your message here..."></textarea>
                        </div>
                    </div>
                    <!-- Botón de Submit -->
                    <div class="row">
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>